body {
    margin: 0;
}

.arena-container {
    width: 100%;
    height: 90%;
    background-color: black;
    position: absolute;
    margin: 0;
}

.buttons-container {
    display: flex;
    justify-content: space-around
}